<!--
  Wrapper data component for table samples
-->
<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../gid-api/gid-api.html">

<!--
`gid-table-samples`

The `gid-table-samples` element is a data component acting as a wrapper  on gid-api used for handling rest calls for table samples.

<gid-table-samples api-url='https://ql50yzu0fj.execute-api.us-east-1.amazonaws.com/dev'
        table = "100007" fetch-rows = true tabledata = {{tabledata}}></gid-table-samples>
        
If `api-url` is not provided, the component will display sample output for specified entity.

@demo demo/index.html
-->
<dom-module id="gid-table-samples">
    <template>
        
        <!-- table samples -->
        <gid-api auto=false
                 http-method="GET" api-url={{tableUrl}} response='{{tableResponse}}'
                 api-timeout={{tableTimeout}} api-params={{tableParams}}></gid-api>
        <!-- table samples -->

    </template>
    <script>
        (function () {
            'use strict';
            Polymer({
                is: 'gid-table-samples',
                properties: {
                    tabledata: {
                        type: Array,
                        notify: true
                    },
                    tablecolumns: {
                        type: Array,
                        notify: true
                    },
                    apiUrl: {
                        type: String,
                        notify: true,
                        value: ''
                    },
                    tableUrl: {
                        type: String,
                        notify: true
                    },
                    tableTimeout: {
                        type: Number,
                        notify: true,
                        value: 0
                    },
                    tableResponse: {
                        type: Object,
                        notify: true,
                        observer: 'tableResponseChanged'
                    },
                    tableParams: {
                        type: String,
                        notify: true
                    },
                    fetchTableData: {
                        type: Boolean,
                        notify: true,
                        observer: 'fetchTableDataFunc'
                    },
                    table: {
                    	type: String,
                    	notify: true,
                    	value: ''
                    }
                },
                tableResponseChanged: function (newvalue, oldvalue) {
                    this.tablecolumns = [];
                    this.tabledata = [];
                    if (newvalue != null) {
                        this.async(function () {
                        	this.tablecolumns =  newvalue.columns;
                            this.tabledata = newvalue.rows;
                        }, 500);
                    }

                },
                fetchTableDataFunc: function (newvalue, oldvalue) {
                	if (this.fetchTableData) {
	                    if (!this.apiUrl) {
	                        this.tableUrl = this.importPath + 'assets/' + 'tableData.json';
	                        this.tableTimeout =  this.tableTimeout - 1;
	                    } else {
								this.tableUrl = this.apiUrl + "/tables/" + this.table + "/rows";
	                    		this.tableTimeout =  this.tableTimeout - 1;
	                    }
                	}
                }
            });
        })();


    </script>
</dom-module>
