<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../gid-get-samples.html">
<style>
  	table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
	}
	td {
	    text-align: center;
	}
  </style>
    
<dom-module id="get-samples">
   <div class="horizontal-section-container">
    <template>
        <gid-get-samples api-url='https://ql50yzu0fj.execute-api.us-east-1.amazonaws.com/dev'
        limit = '50' columns = '["200010","200001"]' samplecolumns = {{samplecolumns}} samplerows = {{samplerows}}></gid-get-samples>
            <div class="horizontal-section">
                <p></p>
                <template is="dom-if" if="[[samplecolumns.length]]">
	                <table style="width:50%">
					  <tr>
					    <th>{{col1}}</th> 
					    <th>{{col2}}</th>
					  </tr>
					  <template is="dom-repeat" items="[[samplerows]]">
					  <tr>
					    <td>{{item.id}}</td>
					    <td>{{item.shipstate}}</td> 
					  </tr>
					  </template>
					</table>
				</template>
            </div>
        
    </template>
</div>

    </template>
    <script>
        (function () {
            'use strict';
            Polymer({
                is: 'get-samples',
                properties: {
                    samplerows: {
                    	type: Array,
                    	notify: true    
                   },
                   samplecolumns: {
                   	type: Array,
                   	notify: true,
                   	observer: 'samplecolumnsArrChanged'
                  },
                  col1: {
                	  type: String,
                      notify: true,
                      value: ""
                  },
                  col2: {
                	  type: String,
                      notify: true,
                      value: ""
                  }
                },
                samplecolumnsArrChanged: function(event){
                	if(this.samplecolumns.length){
                		this.col1 =  this.samplecolumns[1]["label"];
                		this.col2 =  this.samplecolumns[0]["label"];
                	}
                }

            });
        })();


    </script>
</dom-module>
